<%= link_to 'New Score', new_score_path %>
<% @scores.each do |score,i| %>
  <p>
  	</br>
   
    Points: <%= score.points{i} %>
    </p>
    <img src="http://www.leadersinstitute.com/wp-content/uploads/2011/02/playing-cards.jpg"></img>
<% end %>